
.footer {
  margin-top: 10em;
  height: auto;
  background-color: $black;
  color: $white;
}

.footer-section {
  //height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 8.3%;

  a {
    color: darkgrey;
    margin-bottom: 5px;

    &:hover {
      color: $green;
    }
  }

  p {
    line-height: 2;
  }

  h3 {
    text-transform: uppercase;
    color: darkgrey;
  }

  ul {
    list-style-type: none;
    padding-left: .2em;

    li {
      line-height: 1.8;
    }
  }
}

.fa-2x {
  margin-right: .4em;
  color: $green;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

#email-link {
  color: $green;
  opacitu: 08;

  &:hover {
    opacity: 1;
  }
}

.footer-logo {
  margin-top: 10px;
  margin-bottom: 20px;
}
