
.nav-menu {
    //background-color: yellow;
}

.navbar-inverse {
  background-color: $black;
  background-image: none;
}

.navbar-right {
  padding-top: 10px;
}

.navbar-brand {
  height: 70px;
  padding: 15px 15px;
}

.nav-menu-item {
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a {
    color: $white;
    font-size: 1.2em;
    height: auto;

    &:hover {
      color: $green;
    }
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown button {
  padding: 0;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: $white;
  font-weight: normal;
  background-color: inherit;
  font-family: inherit;
  margin: 0;

  &:hover {
    color: $green;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;;
  background-color: $black;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: $white;
  top: 60px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 5px;
}

.dropdown-content a:hover {
  color: $green;
}


.nav-menu-item:hover .dropdown-content {
  display: block;
}

.contact-nav-button {
  border: .5px solid $white;
  border-radius: 5px;
}
